<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title> 
      FLAP Dashboard
    </title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />
  </head>
  <body>
    <div class="holder">
      <div id="tooltip"></div>
      <div>
          <svg id="chart"></svg>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
  </body>
</html>
