body {
    background: #f5f7fa;
    font-family: 'Times New Roman', Times, serif;
}

.grid line {
    stroke: #7c7f81;
    stroke-opacity: 0.4;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.holder {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tooltip {
    position: absolute;
    background: #fff;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
}

#analysis {
    margin: 20px auto;
    width: 75%;
    padding: 2px;
}
