@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    background: #f5f7fa;
    font-family: 'Open Sans' !important;
}

.grid line {
    stroke: #7c7f81;
    stroke-opacity: 0.4;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.chart-holder {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-holder {
    background-color: rgba(220, 220, 220, 0.5);
    margin-right: 20px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 2px #aaa;
}

#tooltip {
    position: absolute;
    background: #fff;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
}

#control-panel {
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
    box-shadow: 0px 0px 1px #aaa;
}

#control-panel > div {
    margin: 10px 0;
}

#data-holder {
    margin: 20px auto;
    width: 75%;
}

#data-holder-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#paging-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#query-report {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
